.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 10%;
  height: 56px;
  border-bottom: 1px solid var(--semi-color-border);
  font-weight: bold;
  font-size: 18px;
}

.body {
  flex-grow: 1;
  overflow-y: auto;
}

.content {
  padding: 60px 10%;

  :global(.semi-input-textarea-readonly) {
    color: var(--semi-color-text-0);
  }
}

.tutorial {
  font-weight: bold;
  margin-bottom: 24px;

  .line {
    margin-bottom: 12px;
  }
}

.footer {
  position: fixed;
  bottom: 32px;
  left: 10%;
  cursor: pointer;
}
